<div class="container">
	<div class="row">
		<div class="col-2">
			add a skater or whatever
			<%= link_to 'create a skater', new_skater_path, class: 'btn btn-primary' %>
		</div>
	</div>
	<div class="row border border-1 flex-column">
		<% @skaters.each do |skater| %>
			<div class="col border border-1 d-flex justify-content-center">
				<%= skater.name %>
			</div>
		<% end %>
	</div>
</div>
