<div class="border border-1 m-3 p-3">
  <p>Date: <%= link_to skate.date.strftime("%A %B %d, %Y"), skate_path(skate.id) %></p>
  <p>Rink: <%= skate.rink.name %></p>
  <p>Address: <%= skate.rink.address %></p>
</div>
