<div class="col-sm-3 d-flex flex-column align-items-center">
  <table class="table">
    <tr>
      <td>
        Date:
      </td>
      <td>
        <%= link_to skate.date.strftime("%A %B %d, %Y"), skate_path(skate.id) %>
      </td>
    </tr>
  </table>
</div>
