

<p class="col-lg-10">Total skaters for next skate: <%= @skaters.count %><small> (as of <%= Time.now.strftime("%-m/%d %H:%M%P") %>)</small> </p>


<div class="row mb-3">
	<%# @skate.skaters.each do |skater| %>
	<%# skater %>
	<%# end %>
</div>

<div class="row mb-3 p-3">
	<% @skate.skaters.each do |skater| %>
    <%= skater.name %>
  <% end %>
</div>