<div class="row g-lg-5 py-5">
	<div class="col-lg-7 text-center text-lg-start">
		<div class="display-3 fw-bold">Kapus Skate</div>
		<h5 class="text-muted">Apex Center in Arvada, CO</h5>
		<p class="fs-3">Next skate: <%= @next_skate.date.strftime("%A %B %d, %Y") %></p>
		
	</div>
	<%= render partial: 'partials/homepg_signup' %>
</div>
