<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="display-3">Stay connected</h3>
      <p>If you want to continue the locker room conversation, say hi to Jim, or just find out if there's been any changes to the schedule, please drop by the Discord server and join the conversation!</p>
      <p><%= link_to 'Discord app', 'https://discord.gg/Zv5yrZZHH6', class: 'btn btn-lg btn-primary' %></p>
    </div>
  </div>
</div>