<div class="row">
	<h1>Skates</h1>
	<div class="col">
	<%= link_to 'add a skate', new_skate_path %>
	</div>
</div>
<div class="row">
	<div class="col">
		<table class="table">
			<% @skates.each do |skate| %>
				<tr>
					<td>
						<%= skate.date %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
