<div class="container col-xl-10 col-xxl-8 px-4 py-5">
	<div class="row g-lg-5 py-5">
		<div class="col-lg-7 text-center text-lg-start">
			<h1 class="display-4 fw-bold lh-1 mb-3">Kapus skate</h1>
			<p class="fs-4">Date: Saturday Feb. 19, 2022</p>
			<p class="col-lg-10 fs-5">Total skaters, as of current time: 12</p>
			<p class="col-lg-10 fs-5">2 goalies confirmed: True</p>
			<p class="col-lg-10 fs-6">Send payment to: steveGonzalesVenmoOrWhatever</p>
			<table class="table">
				<tr>
					<th>White Team</th>
					<th>Black Team</th>
				</tr>
				<tr>
					<td>Steve Gonzalez</td>
					<td>Ira Gorman</td>
				</tr>
				<tr>
					<td>Jeff Shaver</td>
					<td>Kevin Lowe</td>
				</tr>
				<tr>
					<td>Aaron Shapiro</td>
					<td>Good Juan</td>
				</tr>
				<tr>
					<td>Kenny Higdon</td>
					<td>Butters</td>
				</tr>
				<tr>
					<td>Mark Messier</td>
					<td>Sidney Crosby</td>
				</tr>
				<tr>
					<td>Joe Jones</td>
				</tr>
				<tr>
					<td>Patrick Kane</td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<th>Confirmed Goalies</th>
				</tr>
				<tr>
					<td>Patrick Roy</td>
					<td>Ed Belfour</td>
				</tr>
			</table>
		</div>
		<%= render partial: 'partials/signup' %>
	</div>
</div>
